* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #007200, #88d422);
  color: #000000;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin-bottom: 3.5rem;
}

p {
  margin-bottom: 1rem;
}

.myname {
  color: white;
}

.scroll-gif {
  position: fixed;
  left: -3%;
  top: 50%;
  transform: translateY(-50%);
  width: 12.5rem;
  height: 18.75rem;
  pointer-events: none;
  z-index: 9999;
}

/* underline design Start */

.half-underlinedefault {
  cursor: default;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.whole-underlinedefault {
  cursor: default;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.half-underlinedefault::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.4s ease, right 0.4s ease;
}

.whole-underlinedefault::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.4s ease, right 0.4s ease;
}

.half-underline:hover::after {
  width: 50%;
  right: 0;
}

.half-underlinedefault:hover::after {
  width: 50%;
  right: 0;
}

.whole-underlinedefault:hover::after {
  width: 100%;
  right: 0;
}

/* underline design end */

/* Navigation bar Design Start */

#home,
#contact {
  scroll-margin-top: 0px;
}

#portfolio,
#booklet,
#abtme {
  scroll-margin-top: 3rem;
}

@media (max-width: 768px) {
  #home,
  #booklet,
  #booklet2,
  #contact {
    scroll-margin-top: 40px;
  }

  #portfolio,
  #abtme {
    scroll-margin-top: 40px;
  }
}
.custom-navbar {
  background-color: #004b23;
  border-bottom: 2px solid #000000;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px #0000000d;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar-nav {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  max-height: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  overflow: hidden;
}

.nav-link {
  padding: 8px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-links li a {
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #fcdc2a;
}

.nav-links li a.active {
  color: #fcdc2a;
  background-color: #fcdc2a;
  border-radius: 5px;
}

/* Navigation bar Design End */

/* Intro Section Outer BG*/

.intro-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  color: #000000;
  padding-top: 30px;
  overflow: visible;
}

.intro-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background: url("../../images/arts/section0bg.jpg") center top / 100% auto
    no-repeat;
  z-index: -1;
}

.intro-container {
  position: relative;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  padding: 2rem;

  background: linear-gradient(to bottom, #005500e5, #008000de);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 60px;
  color: #fff;
}

/* Intro Contents */

.intro-left {
  flex: 1 1 600px;
  text-align: center;
}

.intro-left h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.intro-left h1 strong {
  color: #ffe747;
  font-weight: bold;
}

.intro-left p {
  font-size: 1.5rem;
  max-width: 600px;
  padding-left: 3rem;
  margin-top: 0;
}

.intro-right {
  flex: 1 1 400px;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-right img {
  max-width: 100%;
  height: auto;
  border-radius: 100px;
}

/* Intro Section End*/

/* pulsating text  */
.pulsating-text {
  animation: pulse 1.5s infinite;
  font-size: 2rem;
  color: #ffe747;
  font-weight: bold;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* Zigzag Border Design */

.zigzag-border {
  height: 60px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 60'><path d='M0 30 Q50 0 100 30 T200 30 T300 30 T400 30 V60 H0 Z' fill='%23ffe568'/></svg>");
  background-repeat: repeat-x;
  background-size: 400px 60px;
  animation: moveWave 6s linear infinite;
}

.zigzag-border1 {
  z-index: 1;
  height: 60px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 60'><rect width='400' height='60' fill='%23FFE568'/><path d='M0 30 Q50 0 100 30 T200 30 T300 30 T400 30 V60 H0 Z' fill='%23379A0E'/></svg>");
  background-repeat: repeat-x;
  background-size: 400px 60px;
  animation: moveWave 6s linear infinite;
}

.zigzag-border2 {
  height: 60px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 60'><rect width='400' height='60' fill='%23379A0E'/><path d='M0 30 Q50 0 100 30 T200 30 T300 30 T400 30 V60 H0 Z' fill='%23ffe568'/></svg>");
  background-repeat: repeat-x;
  background-size: 400px 60px;
  animation: moveWave 6s linear infinite;
}

.zigzag-border3 {
  height: 60px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 60'><rect width='400' height='60' fill='%23ffe568'/><path d='M0 30 Q50 0 100 30 T200 30 T300 30 T400 30 V60 H0 Z' fill='%237ccb21'/></svg>");
  background-repeat: repeat-x;
  background-size: 400px 60px;
  animation: moveWave 6s linear infinite;
}

@keyframes moveWave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400px 0;
  }
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #000000;
}

/*Sections Start
  0 - Home
  1 - About Me
  2 - Portfolio
  4 - (3)Booklet and (4)Certificates
  contact - Contact
*/

.aboutme-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  background-color: #ffe568;
  overflow: hidden;
  z-index: 1;
}

.aboutme-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: -0.625rem;
  margin-bottom: 0.3125rem;
  color: #000000;
}

.portfolio-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  background-color: #379a0e;
  overflow: hidden;
  z-index: 1;
}

.portfolio-section h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  margin-top: -0.625rem;
  margin-bottom: 0.3125rem;
}

.gallery-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 2rem;
  padding-bottom: 5rem;
  background-color: #ffe568;
  overflow: hidden;
  z-index: 1;
}

.gallery-section h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 5px;
}

.booklet-superheader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: show;
}

.booklet-header {
  text-align: center;
  margin-bottom: 2rem;
}

.booklet-section {
  margin-top: 20px;
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  justify-content: center;
}

.book-wrapper {
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
}

.booklet-section h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 1.875rem;
}
/*Sections End*/

/* slanted section = About Me; Start */

.custom-slanted-holder {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.slanted-block {
  color: #000000;
  padding: 2rem;
  transform: skewX(-12deg);
  border-radius: 0.75rem;
  box-shadow: 0 0.375rem 10.75rem #0000001a;
  transition: transform 0.3s;
  filter: drop-shadow(0 0.25rem 0.5rem #0000004d);
}

.slanted-block h3 {
  transform: skewX(12deg);
  margin-bottom: 1rem;
}

.slanted-block p,
.slanted-block ul {
  transform: skewX(12deg);
  margin: 0;
}

.slanted-block.yellow {
  background: #ffd000;
  color: #000000;
}

.slanted-block.green {
  background: #23b345;
  color: #000000;
}

/* yellow and Green slanted holders */

.right-slant {
  transform: skewX(-12deg);
}

.left-slant {
  transform: skewX(12deg);
}

.right-slant h3,
.right-slant p,
.right-slant ul {
  transform: skewX(12deg);
}

.left-slant h3,
.left-slant p,
.left-slant ul {
  transform: skewX(-12deg);
}

/* Accordion = About Me; End */

/* Portfolio section */

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.portfolio-box {
  background-color: white;
  border: 2px solid #000000;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio-box img {
  width: 100%;
  display: block;
}

.portfolio-info {
  padding: 1rem;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: white;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Contact Section */

.contact-section {
  background: linear-gradient(to bottom, #7bcb1f, #96ca5a);
  padding: 4rem 2rem;
  text-align: center;
}

.contact-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #000000;
}

.contact-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Individual Contact Card */
.contact-card {
  background-color: #ffd000;
  border: 2px solid #000000;
  border-radius: 12px;
  padding: 0;
  width: 100%;
  max-width: 250px;
  box-shadow: 0 4px 12px #0000001a;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

/* Make the anchor fill the entire card */
.contact-card a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 2rem;
  color: #000;
  text-decoration: none;
  text-align: center;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: -10px 6px 20px #ffe262;
}

.contact-card a:hover {
  color: #004b23;
}

.contact-card h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #004b23;
}

.contact-card a:hover h4,
.contact-card a:hover p {
  color: #004b23;
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: #222;
  color: white;
  padding: 2rem;
  text-align: center;
}

.social-icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Email git phone style in footer */
.social-icon-img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

/* Button Design */

.custom-btn {
  background-color: #ffe747;
  color: #000000;
  border: 2px solid #000000;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: #fbffff;
  color: #004b23;
}

.buttondesign {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buttondesign img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.buttondesign h4 {
  margin: 0;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #f3e6ff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttondesign:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px #00000000;
}

.buttondesign:hover img {
  transform: scale(1.03);
}

.buttondesign:hover h4 {
  background-color: #e0cff1;
  color: #ffd000;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.button-group .custom-btn {
  text-align: center;
}

.button-group a {
  margin-right: 1rem;
}

.button-group a:last-child {
  margin-right: 0;
}

/* Flipbook Styles */

.flipbook {
  width: 650px;
  height: 500px;
  box-shadow: 0 20px 40px #00000066;
  border-radius: 20px;
  background-image: url("../../images/arts/tabletop.jpg"); /* <-- replace with your image */
  background-size: cover; /* make it cover the entire flipbook */
  background-position: center;
  background-repeat: no-repeat;

  transform: perspective(1000px);
}

.flipbook .hard {
  background: #004b23 !important;
  color: #fff;
  font-weight: bold;
  border: none;
}

.flipbook .hard2 {
  background: #004b23 !important;
  color: #f8c809;
  font-weight: bold;
  border: none;
}

.flipbook .hard small {
  font-style: italic;
  font-weight: lighter;
  opacity: 0.7;
  font-size: 14px;
}

.flipbook .page {
  background: #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid #0000001c;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.page img {
  max-width: 90%;
  max-height: 75%;
  object-fit: contain;
  margin: auto;
  display: block;
  border: 2px solid black;
  border-radius: 4px;
}

.flipbook .page small {
  font-size: 14px;
  margin-bottom: 10px;
}

.booklet {
  flex: 1;
}

.booklet h2 {
  text-align: center;
  margin-bottom: 1rem;
}

/* Dark Modes */
.dark-mode {
  background-color: #000 !important;
  color: #fff !important;
}

.dark-mode * {
  color: #fff !important;
  border-color: #fff !important;
}

.dark-mode .custom-btn,
.dark-mode .contact-card,
.dark-mode .flipbook,
.dark-mode .flipbook .page,
.dark-mode .flipbook .hard,
.dark-mode .flipbook .hard2,
.dark-mode .portfolio-box,
.dark-mode .portfolio-info,
.dark-mode .intro-section,
.dark-mode .portfolio-section,
.dark-mode .aboutme-section,
.dark-mode .gallery-section,
.dark-mode .nav-container,
.dark-mode .custom-navbar,
.dark-mode .contact-section,
.dark-mode .contact-card a,
.dark-mode .buttondesign h4,
.dark-mode .zigzag-border,
.dark-mode .zigzag-border1,
.dark-mode .zigzag-border2,
.dark-mode .zigzag-border3,
.dark-mode .intro-container {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #fff !important;
  box-shadow: none !important;
}

.dark-mode .footer {
  background-color: #222 !important;
  color: white !important;
}

.dark-mode .zigzag-border,
.dark-mode .zigzag-border1,
.dark-mode .zigzag-border2,
.dark-mode .zigzag-border3 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 60'%3E%3Crect width='400' height='60' fill='%23000000'/%3E%3Cpath d='M0 30 Q50 60 100 30 T200 30 T300 30 T400 30 V0 H0 Z' fill='%23222222'/%3E%3C/svg%3E")
    repeat-x !important;
  background-size: 400px 60px !important;
}

/* CONTACT SECTION in DARK MODE */
.dark-mode .contact-section {
  background: #000 !important;
  color: #fff !important;
}

.dark-mode .contact-card {
  background-color: #111 !important;
  border-color: #fff !important;
}

.dark-mode .contact-card a {
  color: #fff !important;
}

.dark-mode img {
  filter: grayscale(100%) brightness(0.8) contrast(1.2) !important;
  border-color: #fff !important;
}

.dark-mode .nav-links li a:hover,
.dark-mode .custom-btn:hover,
.dark-mode .contact-card a:hover,
.dark-mode .buttondesign:hover h4,
.darkm-mode .contact-section {
  color: #ccc !important;
  background-color: #111 !important;
}

.dark-mode .slanted-block.yellow,
.dark-mode .slanted-block.green {
  background-color: #111 !important;
  color: #fff !important;
}

.dark-mode .slanted-block.yellow *,
.dark-mode .slanted-block.green * {
  color: #fff !important;
}

.dark-mode .intro-container {
  background: linear-gradient(to bottom, #000, #111) !important;
  color: #fff !important;
}

.dark-mode .contact-section {
  background-color: #000 !important;
}
